{
  "$schema": "https://json-schema.org/draft/2020-12/schema",
  "$id": "{{ .Name }}/config.schema.json",
  "title": "{{ .Name }} Configuration",
  "description": "Configuration for the {{ .Name }} extension.",
  "type": "object",
  "additionalProperties": false,
  "properties": {
    "header_value": {
      "type": "string",
      "description": "Custom value for the header to add. Defaults to \"example\" if not set."
    }
  }
}
