---
import { PROJECT_NAME } from '../constants';
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Sidebar from '../components/Sidebar.astro';

interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<Head
		title={`${title} | ${PROJECT_NAME}`}
		description={description}
		additionalStylesheets={['/src/styles/docs.css']}
	/>
	<body>
		<Header />

		<div class="docs-container">
			<Sidebar yamlPath="src/pages/docs/sidebar.yaml" />

			<main class="docs-main">
				<article class="prose">
					<slot />
				</article>
			</main>
		</div>

		<Footer />
	</body>
</html>
