name: {{ .Name }}
version: {{ .LibComposerVersion }}
categories:
  - Misc
author: Unknown
description: A custom Go extension.
longDescription: |
  A custom Go extension.
type: composer
composerVersion: {{ .LibComposerVersion }}
tags:
  - go
  - http
  - filter
license: Apache-2.0
examples: []
