---
import { Code } from 'astro:components';

const yamlCode = `apiVersion: extension.tetratelabs.io/v1alpha1
kind: RemoteExtension
metadata:
  name: built-on-envoy-cache
  namespace: default
spec:
  name: cache
  version: 1.0.0
  priority: 1
  config:
    (...)
  targetRef:
    group: gateway.networking.k8s.io
    kind: Gateway
    name: eg
    namespace: default`;
---

<section class="envoy-gateway" id="envoy-gateway">
	<div class="container">
		<h2>Fully integrated with Envoy Gateway</h2>
		<div class="eg-content">
			<div class="eg-code-column">
				<Code code={yamlCode} lang="yaml" theme="github-light" />
			</div>
			<div class="eg-text-column">
				<p>Seamless integration with Envoy Gateway makes it frictionless to start consuming extensions in your Kubernetes environment.</p>
				<p>Simply define a <code>RemoteExtension</code> resource and point it to your Gateway. The extension will be automatically downloaded, configured, and applied.</p>
			</div>
		</div>
	</div>
</section>
