---
import { GITHUB_REPO } from '../constants';
---

<header>
	<div class="container">
		<a href="/" class="header-content">
			<img src="/envoy-icon.png" alt="Envoy Logo" class="logo-icon" />
			<div class="logo-text">
				<h1 class="logo">Envoy Ecosystem</h1>
				<p class="subtitle">by Tetrate</p>
			</div>
		</a>
		<nav>
			<a href={GITHUB_REPO} target="_blank">GitHub</a>
			<a href="/extensions">Extensions</a>
			<a href="/docs">Docs</a>
		</nav>
	</div>
</header>
